body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
nav{
    flex: 1 1 10vw;
}
#title-container{
    flex: 3 3 70vw;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}
#title-container>h1{
    margin: 0;
}
#task-list-container{
    display: none;
}
nav>button{
    background-color: salmon;
    border-radius: 5px;
}
#tree-image{
    display: block;
    background-image: url("./media/icons/checklist.svg");
    min-width: 48px;
    min-height: 48px;
}